{% extends 'shop/basic.html' %}

{% block title%} About ShopKaro{% endblock %}


{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container my-3" >
      <h4>ShopKaro </h4>
      <p>
The ShopKaro is charged with the planning, promotion, organisation and implementation of programs for the development of local goods and other village industries in the rural areas in coordination with other agencies engaged in rural development wherever necessary.</p>

    </div>


  <div class="container">
    <!-- Example row of columns -->
    <div class="row my-4" >
      <div class="col-md-4  my-4">
        <h2>ONLINE SHOPPING</h2>
        <p>Founded in 2020, ShopKaro is a online store that makes creative, local goods, contemporary Indian. ShopKaro was created on the principle of creating impact through innovation, honesty and thoughtfulness. </p>
      </div>
      <div class="col-md-4 my-4">
        <h2>Why we?</h2>
        <p>


The ShopKaro is charged with the planning, promotion, organisation and implementation of programs for the development of local goods and other village industries in the rural areas in coordination with other agencies engaged in rural development wherever necessary.

        </p>

      </div>
      <div class="col-md-4 my-4">
        <h2>Benefits</h2>
        <p>Choose your product, get it ordered online, and we ensure that its delivery happens right at your doorstep anywhere in India. You just need to take care of the payment for the product from the comfort of your home.</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->


      <div class="container my-4" style="text-align:center;" >
          <p>Feel free to contact us at namaste@shop-karo.com and we will get back to you at the earliest.</p>
           <p><a class="btn btn-primary btn-xs my-4" href="/shop/contact" role="button">Any Query </a></p>
        </div>
    </main>


{% endblock %}